 body {
     background-color: black;
 }

 #titulo1 {
     color: chocolate;
 }

 #parrafo1 {
     color: brown;
 }

 #titulo2 {
     color: purple;
 }

 #parrafo2 {
     color: green;
 }

 .bg-white {
     width: 100px;
     height: 100px;
     background-color: white;
     margin: 10px;
     display: inline-block;
     vertical-align: top;
     float: left;
 }

 .bg-blue {
     width: 100px;
     height: 100px;
     background-color: blue;
     margin: 10px;
     display: inline-block;
     vertical-align: top;
     float: left;
 }

 .bg-red {
     width: 100px;
     height: 100px;
     background-color: red;
     margin: 10px;
     display: inline-block;
     vertical-align: top;
     float: left;
 }

 .bg-yellow {
     width: 100px;
     height: 100px;
     background-color: yellow;
     margin: 10px;
     display: inline-block;
     vertical-align: top;
     float: left;
 }

 .bg-green {
     width: 100px;
     height: 100px;
     background-color: green;
     margin: 10px;
     display: inline-block;
     vertical-align: top;
     float: left;
 }

 .bg-orange {
     width: 100px;
     height: 100px;
     background-color: orange;
     margin: 10px;
     display: inline-block;
     vertical-align: top;
     float: right;
 }

 .bg-purple {
     width: 100px;
     height: 100px;
     background-color: purple;
     margin: 10px;
     display: inline-block;
     vertical-align: top;
     float: right;
 }

 .bg-brown {
     width: 100px;
     height: 100px;
     background-color: rgb(105, 60, 30);
     margin: 10px;
     display: inline-block;
     vertical-align: top;
     float: right;
 }

 .bg-pink {
     width: 100px;
     height: 100px;
     background-color: pink;
     margin: 10px;
     display: inline-block;
     vertical-align: top;
     float: right;
 }

 .bg-golden {
     width: 100px;
     height: 100px;
     background-color: goldenrod;
     margin: 10px;
     display: inline-block;
     vertical-align: top;
     float: right;
 }

 .caja {
     font-style: italic;
     float: right;
     width:45%; 
     height:800px; 
     border:2px solid black; 
     background-color: white; 
     padding:5px; 
     display:inline-block; 
     vertical-align:top;
 }