div {
    width: 100px;
    height: 100px;
    background-color: rgb(214, 93, 37);
}

body {
    background-color: rgb(113, 169, 173);
}

#caja1 {
    width: 300px;
    height: 75px;
    margin: 3px;
}

#caja2 {
    width: 300px;
    height: 150px;
    margin: 3px;
}

#caja3 {
    width: 300px;
    height: 75px;
    margin: 3px;
}

#caja4 {
    width: 300px;
    height: 200px;
    margin: 3px;
}